html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1e2131 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  background-color: #1e2131;
}
.img {
  position: relative;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0404048f;

}
header img {
  margin-top: -20px;
}
.cover {
  height: 620px;
  overflow: hidden;
}
.info {
  color: white;
  margin-top: 200px;
}
.info h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgb(255 255 255 / 85%);
  font-weight: 700;
}
.info div {
  font-size: 30px;
  font-weight: 500;
}
.info p {
  color: yellow;
}
.info small {
  font-size: 100%;
}
h1 {
  color: white;
}
.ant-card-meta-title {
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.ant-card-body {
  padding: 16px;
}
.slide {
  display: flex;
  padding: 0 55px;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
margin-left: 190px;
}

.item {
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0px;
  transition: transform 300ms ease 100ms;
 
}
/*out container*/

.slide::-webkit-scrollbar {
  width: 10px !important;
  color:#1e2131;
  margin-left: 290px;
}
/* Handle */
.slide::-webkit-scrollbar-thumb {
  background: rgb(37, 39, 54);
}

/* Handle on hover */
.slide::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 24, 39);
}
.carousel {
  padding: 0px;
  width: 100%;
  position: relative;
  height: 600px;
  margin: 0px;
  background-color: #1e2131;
}
.carousel img {
object-fit: cover;
overflow: hidden;
}
.carousel .cap{
  z-index: 10;
  position: absolute;
  top: 300px;
  color: white;

}
.carousel .cap h3{ color: white;}
.carousel .cap p{
  top: 200px;
    color:yellow;
  }

