body{
    background-color: #182131;
}
.ant-input-affix-wrapper-lg {
    color: #182131 !important; 
    width: 400px;
    padding: 6.5px 11px;
    font-size: 16px;
    border-radius: 20px;}
    header{ 
        margin: auto;
        justify-content: space-between;
        align-items: center;
        
    }
    .title{align-content: center;;
        justify-content: space-between;
        margin: auto;
    }
    .title h1{margin-top: 30px;}
 .title p{
    color: white;
    font-size: 45px;
    text-align: right; }
 .ant-input-affix-wrapper , .ant-input{
    background-color:#242f3b !important ;
    border-color: #242f3b;
 }
 

